<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AeRenderPath" value="D:\Program Files\Adobe\Adobe After Effects CS6\Support Files\aerender.exe"/>
    <add key="OutputPath" value="e:\OutPut\"/>
    <add key="AeProjectFile" value="e:\AEProjs\iFILM website. 8 collect folder\Web Edit 22.8 collect.aep"/>
    <add key="ImagePath" value="C:\files\TMP\ifilm_main.png"/>
    <add key="Composition" value="main web preview"/>
    <add key="WebUrl" value="http://api.screenshotlayer.com/api/capture?access_key=71ef771988f167d0f16ba5c44e380a49&amp;url=http://facebook.com/presstv&amp;viewport=1024x3000&amp;width=1024"/>
    <add key="OutPutFileName" value="main web preview"/>
    <add key="TimeScheduleMinute" value="47"/>
    <add key="ScheduleDestFileName" value="c:\Files\f\OutPut\ComingUp\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
